# Discord Bot
DISCORD_TOKEN=your_bot_token_here
DISCORD_CLIENT_ID=your_client_id_here

# Global Relay
GR_CLIENT_ID=your_gr_client_id_here
GR_CLIENT_SECRET=your_gr_client_secret_here
GR_OAUTH_URL=https://iam-oauth2.globalrelay.com/oauth2/token
GR_API_BASE_URL=https://conversations.api.globalrelay.com/v2

# Dashboard
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000
DISCORD_CLIENT_SECRET=your_discord_oauth_secret

# Database
DATABASE_URL=file:./dev.db
